extends layout

block content
    div.contain
        div.row.fnln
            div.col.s12.m3
                div.card
                    div.card-image.waves-effect.waves-block.waves-light
                        img.activator(src="/images/user.png")
                    div.card-content
                        span.card-title.activator.grey-text.text-darken-4.fnln
                            | #{currentUser.firstName} 
                            | #{currentUser.lastName}
                            i.material-icons.right more_vert
                        a(href='#') Follow
                    div.card-reveal
                        span.card-title.grey-text.text-darken-4.fnln
                            | #{currentUser.firstName} 
                            | #{currentUser.lastName}
                            i.material-icons.right close
                        p I rarely flex but when I do, its on Sunika
            div.col.s12.m9#collection
                //- p5 sup
                div.container.shoerack
                    div.row.shoerow
                        each shoe in shoes
                            div.col.s12.m6.l3.cards-container
                                div.card
                                    div.card-image
                                        img(src=shoe.media.imageUrl)
                                        span.card-title
                                    div.card-action
                                        a.whitespace.shoename(href='/shoe/' + shoe.urlKey) #{shoe.title}
                            
